@import url('https://fonts.googleapis.com/css?family=Codystar|VT323|Graduate');
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Geo|Graduate');
/* font-family: 'VT323', monospace; */
/* font-family: 'Codystar', cursive; */
/* font-family: 'Graduate', cursive; */
/* font-family: 'Geo', sans-serif; */
/* font-family: 'Carrois Gothic SC', sans-serif; */

.gameCreator-container {
    position: relative;
    width: 100vw;
    /* padding-top: 45%; */
    /* border: 5px ridge #D53900; */
}

.startForm {
    width: 80vw;
    padding: 2.5vmin 5vmin;
    /* padding-top: 2.5vmin; */
    /* margin: 2.5vmin 2.5vmin 0 2.5vmin; */
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 6vmin;
    text-align: left;
    color: #DCE1D8;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px ridge #D53900;
    /* border-left: 2.5px ridge orangered;
    border-right: 2.5px ridge orangered;
    border-right: 2.5px ridge orangered; */
    background-color: #25242D;
    border-radius: 20px;
    margin: 10vh auto;
}
.startForm h3{
 margin-bottom: 5vmin;
 color: #D53900;
 font-size: 8vmin;
 text-decoration: underline;
 font-family: 'Graduate', cursive;
}

.frmInput {
    margin: 2vmin;
    /* width: 50%; */
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DCE1D8;
    color: #D53900;
    font-size: 4vmin;

}
.frmInput:focus {
    border: none;
    outline: none;
    margin: 2vmin;
    /* width: 50%; */
    background-color: rgba(213, 57, 0, 0.40);
    border: none;
    border-bottom: 1px solid #D53900;
    /* color: #D53900 */
}
.frmBtn {
    /* min-width: 20vmin;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 1vmin;
    margin: 1vmin;
    padding: .5vmin 2vmin; */
    min-width: 20vmin;
    background-color: #D53900;
    border: .5vmin ridge #25242D;
    border-radius: 5vmin;
    margin: 1vmin 0;
    padding: .5vmin 1vmin;
    font-family: 'Graduate', cursive;
    font-size: 3vmin;
    font-weight: bolder;
}




/* .startGame-body {
    width: 100vw;
    height: 100%;
    background-image: url('http://www.adobegunlugu.com/file/Basketball-Court-Floor-Texture-WearTesters.jpg');
} */

