@import url('https://fonts.googleapis.com/css?family=Codystar|VT323|Graduate');
.home-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* margin: auto; */
    /* height: 100vh; */
    /* background-image: radial-gradient(#DCE1D8 0%, #25242D 100%); */
    color: #D53900;
    text-align: center;
    font-size: 8vmin;
    font-weight: bolder;
    font-family: 'Graduate', cursive;
    z-index: 0;
}
.home-body {
    width: 100vw;
    height: 80%;
    /* margin: auto; */
    /* height: 100vh; */
    /* background-image: radial-gradient(#7ebdc2 0%, #25242D 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D53900;
    /* padding: 5vmin; */
}

