@import url('https://fonts.googleapis.com/css?family=Codystar|VT323|Graduate');
/* font-family: 'Geo', sans-serif; */
/* font-family: 'Carrois Gothic SC', sans-serif; */
.home-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    /* margin: auto; */
    /* height: 100vh; */
    /* background-image: radial-gradient(#DCE1D8 0%, #25242D 100%); */
    color: #D53900;
    text-align: center;
    font-size: 8vmin;
    font-weight: bolder;
    font-family: 'Graduate', cursive;
    /* background-color: #25242D90; */
    z-index: 0;
    /* border: 5px ridge #D53900; */
}
.home-body {
    /* width: 100%; */
    /* height: 80%; */
    /* margin: auto; */
    /* height: 100vh; */
    /* background-image: radial-gradient(#7ebdc2 0%, #25242D 100%); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #D53900;
    background-color: #25242D90;
    padding: 5vmin;
    margin-top: 10vh;
}

.home-body h3 {
    color: #D53900;
    text-shadow: 1px 2px 2px #25242D90;

}
.home-body p {
    color: white;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 5vmin;
    margin-top: 5vmin;
    text-shadow: 1px 2px 2px #25242D90;
}

.home-body img {
    width: 90%;
    height: auto;
    margin-top: 5vmin;
    border-radius: 5%;
    box-shadow:  0 2px 5px 5px #25242D90

}