@import url('https://fonts.googleapis.com/css?family=Codystar|VT323|Graduate');
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Geo|Graduate');
/* font-family: 'VT323', monospace; */
/* font-family: 'Codystar', cursive; */
/* font-family: 'Graduate', cursive; */
/* font-family: 'Geo', sans-serif; */
/* font-family: 'Carrois Gothic SC', sans-serif; */

.login-container {
    position: relative;
    width: 100%;
    padding-top: 45%;
}

.login-form {
    /* width: 90vw; */
    padding: 2.5vmin 0;
    /* padding-top: 2.5vmin; */
    /* margin: 2.5vmin 2.5vmin 0 2.5vmin; */
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 6vmin;
    text-align: left;
    color: #DCE1D8;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px ridge #D53900;
    /* border-left: 2.5px ridge orangered;
    border-right: 2.5px ridge orangered;
    border-right: 2.5px ridge orangered; */
    background-color: #25242D;
    border-radius: 20px;
}

.login-forms {
    margin: 5vmin;
}


.login-form h3{
 margin-bottom: 5vmin;
 color: #D53900;
 font-size: 8vmin;
 text-decoration: underline;
 font-family: 'Graduate', cursive;
}

.frmInput {
    margin: 2vmin;
    /* width: 50%; */
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DCE1D8;
    color: #DCE1D8
}
.frmInput:focus {
    border: none;
    outline: none;
    margin: 2vmin;
    /* width: 50%; */
    background-color: rgba(213, 57, 0, 0.40);
    border: none;
    border-bottom: 1px solid #D53900;
    /* color: #D53900 */
}
.loginBtn {
    min-width: 20vmin;
    background-color: #D53900;
    border: 1vmin ridge #25242D;
    border-radius: 1vmin;
    margin: 1vmin;
    padding: 5vmin;
    font-family: 'Graduate', cursive;
    font-size: 5vmin;
    font-weight: bolder;

}
.loginBtn:focus {
    outline: none;
    
}
.loginBtn:hover {
    box-shadow: 1px 1px 15px 5px #D53900;
    
}

#btnL {
    border-radius: 5vmin 0 0 5vmin;
    margin-right: 0;
}
#btnR {
    border-radius:  0 5vmin 5vmin 0;
    margin-left: 0;
}
#btnL2 {
    border-radius: 5vmin 0 0 5vmin;
    margin-right: 0;
    padding: 2vmin;
}
#btnR2 {
    border-radius:  0 5vmin 5vmin 0;
    margin-left: 0;
    padding: 2vmin;
}


/* .startGame-body {
    width: 100vw;
    height: 100%;
    background-image: url('http://www.adobegunlugu.com/file/Basketball-Court-Floor-Texture-WearTesters.jpg');
} */

